# List-Most versatile datatype available in Python 
     # can be written as a list of comma-separated values (items) between square brackets. 
     # Important thing about a list is that items in a list need not be of the same type.

In [35]:
names =['Tim','Hari','Sally', 'Nick','Tom','Dave','John', 'Hari']
names

['Tim', 'Hari', 'Sally', 'Nick', 'Tom', 'Dave', 'John', 'Hari']

In [36]:
names[0] # displays 0th elements

'Tim'

In [37]:
names.count('Hari') # counts how many times Hari is in the names list

2

In [38]:
names.remove('Tom') # removes Babana from the List
names

['Tim', 'Hari', 'Sally', 'Nick', 'Dave', 'John', 'Hari']

In [39]:
names.insert(2,'Troy') # Adding an element at 2nd position with value "Troy". index starts at 0
names

['Tim', 'Hari', 'Troy', 'Sally', 'Nick', 'Dave', 'John', 'Hari']

In [52]:
names.append('Maggi') # append Maggi at the end of the list
names

['Dave', 'Hari', 'Hari', 'John', 'Nick', 'Sally', 'Tim', 'Troy', 'Maggi']

In [53]:
names.reverse() # Reverse the List
names

['Maggi', 'Troy', 'Tim', 'Sally', 'Nick', 'John', 'Hari', 'Hari', 'Dave']

In [54]:
names.sort() # Sorts the List inplace
names

['Dave', 'Hari', 'Hari', 'John', 'Maggi', 'Nick', 'Sally', 'Tim', 'Troy']

In [41]:
#List comprehensions
squares=[] # create an empty list
for i in range(10): # does not take the last index so the loop will iterate from 0 to 9
    squares.append(i**2)
squares

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [43]:
#The above for loop can be replaced with one single line
cubes =[]
cubes = [i**3 for i in range(10)]
cubes

[0, 1, 8, 27, 64, 125, 216, 343, 512, 729]

In [44]:
del cubes[4] # deletes the 4th element
cubes

[0, 1, 8, 27, 125, 216, 343, 512, 729]

In [45]:
arr1=[[3,9,12],
     [4,16, 64],
     [2,4,8]]
arr1

[[3, 9, 12], [4, 16, 64], [2, 4, 8]]

In [46]:
list(zip(*arr1)) # transpose

[(3, 4, 2), (9, 16, 4), (12, 64, 8)]

In [47]:
27 in cubes

True

In [56]:
names

['Dave', 'Hari', 'Hari', 'John', 'Maggi', 'Nick', 'Sally', 'Tim', 'Troy']

In [57]:
'maggi' in names # search maggi in names

False

In [50]:
'John' in names

True

In [55]:
'Maggi' in names

True

In [28]:
mydict = {"message": {"hello": 123456, "hi":True}, "message_1": {"hell": 123456, "heaven":True}}

In [29]:
for key in mydict.keys():
    if key == "message":
        for  v in mydict["message"].values():
            print(v)
            if v == True :
                print(v)
                print(mydict["message"].keys())

123456
True
True
dict_keys(['hello', 'hi'])

In [30]:
for key, val in mydict.items():
    
    print(key, val)

message {'hello': 123456, 'hi': True}
message_1 {'hell': 123456, 'heaven': True}

In [101]:
store = "{1000:True, 200:true}"

In [110]:
import re
import nltk
from nltk.tokenize import sent_tokenize, word_tokenize
store = "{1000:True, 200:true}"
print(store)
store = re.sub('true', 'True', store.strip())
store = re.sub('{', ' ', store.strip())
store = re.sub('}', ' ', store.strip())
store = re.sub(':', ' ,', store.strip())

store_1=[]
store_data={}
store_1 = word_tokenize(store)

for i in store_1:
    if i == "True":
        store_data[store_num] = True
    elif i == ",":
        continue
    else:
        store_num= int(i)
        print(store_num)
print(store_data)

{1000:True, 200:true}
1000
200
{1000: True, 200: True}

In [22]:
import nltk
from nltk.tokenize import sent_tokenize, word_tokenize
import re
store_1=[]
store_data={}
store_1 = word_tokenize(store)
st0re_num=0
for i in store_1:
    if i == "True":
        store_data[store_num] = True
    elif i == ",":
        continue
    else:
        store_num= int(i)
        print(store_num)
print(store_data)

1000
200
{1000: True, 200: True}

In [122]:
#store Inventory
import re
import nltk
from nltk.tokenize import sent_tokenize, word_tokenize
store = "{1000:, 200:100, 1:100, 2:, 100:10}"
store = store.replace("{", "")
store = store.replace("}", "")
store=re.sub(":,", ":0,", store.strip())
print(store)
l = len(store)
if store[l-1]==":":
    store= store + "0"
word= word_tokenize(store)
print(word)
store_inv={}
for i in word:
    if i !=",":
        st_inv =i.split(":")
        for j in st_inv:
            store_inv.update({int(st_inv[0]): int(st_inv[1])})
print(store_inv)

1000:0, 200:100, 1:100, 2:0, 100:10
['1000:0', ',', '200:100', ',', '1:100', ',', '2:0', ',', '100:10']
{1000: 0, 200: 100, 1: 100, 2: 0, 100: 10}

In [123]:
import re
import nltk
from nltk.tokenize import sent_tokenize, word_tokenize
store = "{1000:True, 200:true}"
print(store)
store = re.sub('true', 'True', store.strip())
store = re.sub('{', ' ', store.strip())
store = re.sub('}', ' ', store.strip())
store = re.sub(':', ' ,', store.strip())

store_1=[]
store_data={}
store_1 = word_tokenize(store)

for i in store_1:
    if i == "True":
        store_data[store_num] = True
    elif i == ",":
        continue
    else:
        store_num= int(i)
        print(store_num)
print(store_data)

{1000:True, 200:true}
1000
200
{1000: True, 200: True}

In [124]:
tot_inv=0
for store_search in store_data:
    if store_search in store_inv:
        print(store_search, store_inv[store_search])
        tot_inv+= store_inv[store_search]
print(tot_inv)

1000 0
200 100
100