# SET
Set is unordered, and unindexed collection of data

Elements in a set are immutable

Elements in a set must be unique

In [26]:
# creating a set - only unique values will be stored in the set
cities ={'Tokyo', 'Frankfurt','Mumbai', 'New York', 'Chicago', 'Tokyo', 'Mumbai'}
print(cities)

months =set(['Jan', 'Feb','March', 'April', 'May', 'June', 'July', 'Aug', 'Sep','Oct', 'Nov', 'Dec'])
print(months)

{'Chicago', 'New York', 'Tokyo', 'Mumbai', 'Frankfurt'}
{'June', 'March', 'Dec', 'April', 'Jan', 'Aug', 'Sep', 'July', 'Nov', 'Oct', 'Feb', 'May'}

In [2]:
# Accessing elements in a set
for i in months:
    print(i)

June
March
Dec
April
Jan
Aug
Sep
July
Nov
Oct
Feb
May

In [3]:
# to check if an element is present in the set
'Paris' in cities

False

In [4]:
'Tokyo' in cities

True

In [27]:
# Adding element to the existsing set
cities.add('Paris')
cities

{'Chicago', 'Frankfurt', 'Mumbai', 'New York', 'Paris', 'Tokyo'}

In [28]:
cities.update(['Beijing','London','San Francisco'])
cities

{'Beijing',
 'Chicago',
 'Frankfurt',
 'London',
 'Mumbai',
 'New York',
 'Paris',
 'San Francisco',
 'Tokyo'}

In [22]:
cities.remove('London')
cities

{'Beijing',
 'Chicago',
 'Frankfurt',
 'Mumbai',
 'New York',
 'Paris',
 'San Francisco',
 'Tokyo'}

In [23]:
cities.discard('Frankfurt')
cities

{'Beijing', 'Chicago', 'Mumbai', 'New York', 'Paris', 'San Francisco', 'Tokyo'}

In [25]:
cities.pop()
cities

{'Beijing', 'Chicago', 'Mumbai', 'New York', 'San Francisco', 'Tokyo'}

In [31]:
cities.clear()
cities

set()

In [32]:
cities ={'Tokyo', 'Frankfurt','Mumbai', 'New York', 'Chicago'}
copy_cities = cities.copy()
print(copy_cities)

copy_cities.add('Singapore')
print(copy_cities)

print(cities)

{'Chicago', 'New York', 'Tokyo', 'Mumbai', 'Frankfurt'}
{'Singapore', 'Chicago', 'New York', 'Tokyo', 'Mumbai', 'Frankfurt'}
{'Chicago', 'New York', 'Tokyo', 'Mumbai', 'Frankfurt'}

In [33]:
len(cities)

5

In [34]:
len(copy_cities)

6

In [35]:
# mathematical set operation
set_muliple_2 ={2,4,6,8,10,12}
set_muliple_3 ={3,6,9,12,15}
set_muliple_2.union(set_muliple_3)

{2, 3, 4, 6, 8, 9, 10, 12, 15}

In [36]:
set_muliple_2.intersection(set_muliple_3)

{6, 12}

In [39]:
set_muliple_2.difference(set_muliple_3)

{2, 4, 8, 10}

In [40]:
set_muliple_2 - set_muliple_3

{2, 4, 8, 10}

In [41]:
set_muliple_2 ^ set_muliple_3

{2, 3, 4, 8, 9, 10, 15}