# List-Most versatile datatype available in Python 
     # can be written as a list of comma-separated values (items) between square brackets. 
     # Important thing about a list is that items in a list need not be of the same type.

In [41]:
names =['Tim','Harry','Sally', 'Nick','Tom','Dave','John', 'Harry']
names

['Tim', 'Harry', 'Sally', 'Nick', 'Tom', 'Dave', 'John', 'Harry']

In [42]:
names[0] # displays 0th elements

'Tim'

In [43]:
names.count('Harry') # counts how many times Hari is in the names list

2

In [44]:
'maggi' in names # search maggi in names

False

In [45]:
names.index("Harry") # find the index of value Harry

1

In [26]:
names.insert(2,'Troy') # Adding an element at 2nd position with value "Troy". index starts at 0
names

['Tim', 'Harry', 'Troy', 'Sally', 'Nick', 'Tom', 'Dave', 'John', 'Harry']

In [27]:
names.append('Maggi') # append Maggi at the end of the list
names

['Tim',
 'Harry',
 'Troy',
 'Sally',
 'Nick',
 'Tom',
 'Dave',
 'John',
 'Harry',
 'Maggi']

In [28]:
names.remove('Tom') # removes Tom  from the List
names

['Tim', 'Harry', 'Troy', 'Sally', 'Nick', 'Dave', 'John', 'Harry', 'Maggi']

In [29]:
del names[4]  # removes 4th elements. Index starts at 0 in Python
names

['Tim', 'Harry', 'Troy', 'Sally', 'Dave', 'John', 'Harry', 'Maggi']

In [67]:
fruits =['apple','mango', 'kiwi', 'banana']
fruits.pop()

'banana'

In [68]:
fruits.pop(1)

'mango'

In [69]:
fruits.pop(5)

IndexError: pop index out of range

In [30]:
names.reverse() # Reverse the List
names

['Maggi', 'Harry', 'John', 'Dave', 'Sally', 'Troy', 'Harry', 'Tim']

In [33]:
names[0]

'Dave'

In [31]:
names.sort() # Sorts the List inplace
names

['Dave', 'Harry', 'Harry', 'John', 'Maggi', 'Sally', 'Tim', 'Troy']

In [32]:
names[0] # shows how inplace sort changed the order

'Dave'

In [39]:
names.clear()
names

[]

In [52]:
cities=['Paris', 'New York', 'Prague', 'San Francisco', 'Vienna']
cities

['Paris', 'New York', 'Prague', 'San Francisco', 'Vienna']

In [53]:
world_cities = cities # copying contents of cities into world_cities
world_cities

['Paris', 'New York', 'Prague', 'San Francisco', 'Vienna']

In [54]:
world_cities.append("Chicago") # appending chicago to only world_cities
world_cities

['Paris', 'New York', 'Prague', 'San Francisco', 'Vienna', 'Chicago']

In [51]:
cities # chicago got added to cities too as we had used assignment operator

['Paris', 'New York', 'Pargue', 'San Francisco', 'Vienna', 'Chicago']

In [55]:
cities.append("London")
cities

['Paris', 'New York', 'Prague', 'San Francisco', 'Vienna', 'Chicago', 'London']

In [56]:
world_cities

['Paris', 'New York', 'Prague', 'San Francisco', 'Vienna', 'Chicago', 'London']

In [63]:
trees =['Oak', 'Birch', 'Maple']
trees

['Oak', 'Birch', 'Maple']

In [64]:
forest_trees = trees.copy() # creating a shallow copy of trees
forest_trees

['Oak', 'Birch', 'Maple']

In [65]:
forest_trees.insert(2, 'Cypress')   # inserting cypress at the 2nd position, so it will be added as the third element
forest_trees

['Oak', 'Birch', 'Cypress', 'Maple']

In [61]:
trees

['Oak', 'Birch', 'Maple']

In [73]:
cars = ['Toyoto Prius', 'Honda CRV', 'Honda Accord']
electric_cars =['Tesla']
cars.extend(electric_cars) # will append Tesla at the end of cars list
cars

['Toyoto Prius', 'Honda CRV', 'Honda Accord', 'Tesla']

In [74]:
electric_cars

['Tesla']

In [41]:
#List comprehensions
squares=[] # create an empty list
for i in range(10): # does not take the last index so the loop will iterate from 0 to 9
    squares.append(i**2)
squares

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [43]:
#The above for loop can be replaced with one single line
cubes =[]
cubes = [i**3 for i in range(10)]
cubes

[0, 1, 8, 27, 64, 125, 216, 343, 512, 729]

In [45]:
arr1=[[3,9,12],
     [4,16, 64],
     [2,4,8]]
arr1

[[3, 9, 12], [4, 16, 64], [2, 4, 8]]

In [46]:
list(zip(*arr1)) # transpose

[(3, 4, 2), (9, 16, 4), (12, 64, 8)]