#### Tuples
consists of a number of values separated by commas

Tuples are immutable or unchangable - once defined you cannot edit,add, delete values

can contain duplicate values

Useful when you do not want anyone to manipulate the data

In [25]:
# defining a Tuple
tool_List =('screwdriver', 'spanner', 'nuts', 'bolts', 'hammer')
tool_List

('screwdriver', 'spanner', 'nuts', 'bolts', 'hammer')

In [2]:
# Tuple can contain duplicate value
tool_List =('screwdriver', 'spanner', 'nuts', 'bolts', 'hammer', 'spanner')
tool_List

('screwdriver', 'spanner', 'nuts', 'bolts', 'hammer', 'spanner')

In [7]:
# creating Tuple without using parenthesis
tool_List = 'screwdriver', 'spanner', 'nuts', 'bolts', 'hammer'
tool_List

('screwdriver', 'spanner', 'nuts', 'bolts', 'hammer')

In [13]:
# concatenating data in a Tuple
tool_List  += ('nail gun',)
tool_List

('screwdriver', 'spanner', 'nuts', 'bolts', 'hammer', 'nail gun')

In [17]:
# concatenating two tuples
fortune_500 =('Apple','Google', 'Wal-mart', 'Amazon', 'Microsoft')
awesome_companies =('My Company',)
awesome_companies += fortune_500 
awesome_companies

('My Company', 'Apple', 'Google', 'Wal-mart', 'Amazon', 'Microsoft')

In [18]:
# Accessing a single value from a Tuple
print(awesome_companies[1])

Apple

In [20]:
# slicing or accessing a range of values from a tuple
print(awesome_companies[2:5])

('Google', 'Wal-mart', 'Amazon')

In [21]:
print(awesome_companies[1:])

('Apple', 'Google', 'Wal-mart', 'Amazon', 'Microsoft')

In [22]:
print(awesome_companies[:3])

('My Company', 'Apple', 'Google')

In [26]:
# deletes the tuple tool_List
del tool_List

In [27]:
# Iterating thru a Tuple
for i  in awesome_companies:
    print(i)

My Company
Apple
Google
Wal-mart
Amazon
Microsoft

In [40]:
# Tuple comprehension with conditions
name = tuple(  i for i in awesome_companies  if i != "Apple")
print(name)

('My Company', 'Google', 'Wal-mart', 'Amazon', 'Microsoft')

In [47]:
# packing a Tuple
country =  'USA', 'Washington D.C.', '50', 'Bald Eagle', 'Rose', 'American Bison'
country

('USA', 'Washington D.C.', '50', 'Bald Eagle', 'Rose', 'American Bison')

In [49]:
#unpacking the Tuple in different variables
country_name, capital, no_of_states, national_bird, national_flower, national_animal = country
print(country_name)
print(national_flower)

USA
Rose

In [56]:
# using tuple as key/valie pair to create a dictionary
t1 =('Constituency','Arizona')
senator=dict([('Name', 'John'), ('Age', 85), t1])
senator

{'Age': 85, 'Constituency': 'Arizona', 'Name': 'John'}

In [71]:
#using tuple as dictionary keys
president={(45, 'Donald'): 'Donald J Trump'}
president_44 =(44,'Obama')
president[president_44] = 'Barack Hussein Obama'
president[(44,'Obama')]

'Barack Hussein Obama'

In [74]:
#length of the Tuple
len(president_44)

2

In [80]:
# max and min on a Tuple
numbers =(10,2,4,100,500)
print(max(numbers))
print(min(numbers))
print(sum(numbers))
print(sorted(numbers))

500
2
616
[2, 4, 10, 100, 500]

In [90]:
test=(1,'name', 'trail',  False, True)
print(any(test))
print(all(test))

True
False

In [91]:
flowers =('Rose', 'Lily', 'Orchids', 'Lotus', ' Mari Gold', 'Sunflower','Rose')
print(flowers.count('Rose'))
print(flowers.index('Lotus'))

2
3